header{
    background-image: url(img/toan-canh-2022.jpg);
    padding: 10%;
    background-size: 100% 100%;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: lato;
    color: black;
}
nav{
    height: 40px;
    background: aqua;
    margin-bottom: 5px;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    padding: 0 20px;
    border-right: 1px solid gray;
}
nav ul li:hover{
    background: aquamarine;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: seagreen;
    font-family: roboto;
    font-size: 20px;
    line-height: 40px;
}
nav .timkiem{
    float: right;
    line-height: 40px;
}
nav .timkiem input{
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    margin: 0px;
    padding: 7px 10px;
    width: 250px;
}
nav .timkiem button{
    padding: 7px 10px;
    border: none;
    outline: none;
    background: silver;
    color: seagreen;
    margin-left: -5px;
}
.chuchay{
    position: relative;
    margin-bottom: 5px;
}
aside{
    float: left;
    width: 300px;
    border-left: 1px gainsboro solid;
}
aside ul li a{
    text-decoration: none;
}
h3{
    font-size: 18px;
    padding: 10px 15px;
    background: aqua;
    color: seagreen;
    text-shadow: 2px 2px 5px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    padding: 10px 15px;
    background-color: aliceblue;
    border-top: 1px solid gray;
}
.menu ul li:hover{
    background-color: aquamarine;
}
footer{
    width: 100%;
    clear: both;
    background: aqua;
    color: seagreen;
}
.footer1{
    float: left;
    width: 400px;
    margin-bottom: 25px;
}
footer h3{
    padding: 15px;
    font-size: 20px;
}
.footer2{
    width: 100%;
    clear: both;
    height: 40px;
    background: aqua;
}
.footer2 p{
    color: seagreen;
    font-size: 15px;
    font-variant: small-caps;
    text-align: center;
}