.container{
    max-width:1000px;
    margin:0 auto;
    position: relative;
}
.container>header{
    background-image: url('img/anh.jpg');
    background-size:100% 100%;
    height:0px;
    padding-bottom:25%;
}
.container>nav{
    line-height:40px;
    background-color:orangered;
    color:white;
    text-align:left;
    font-variant:small-caps;
}
.container>nav a{
    padding: 5px;
    text-decoration: none;
    color: white;
}
.container>nav a:hover{
    text-decoration: underline;
    color: yellow;
}
header .top-right{
    width: 300px;
    height: 40px;
    background-color: orangered;
    Position:absolute;
    Top:0px;
    Right:0px;
    Border-bottom-left-radius: 30px;
    text-align: center;
    font-variant:small-caps;
}
header .top-right a{
    text-decoration: none;
    color: white;
    line-height: 40px;
    padding: 5px;
}
header .top-right a:hover{
    text-decoration: underline;
    color: yellow;
}
header .company-info{
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: 1px;
    left: 15px;
}
header .company-info h1{
    margin: 0px;
    padding: 0px;
    font-variant: small-caps;
    color: white;
    font-size: 35px;
    text-shadow: 0 0 5px orangered;
}
header .company-info h3{
    margin: 0px;
    padding: 0px;
    font-variant: small-caps;
    letter-spacing: 3px;
    color: orangered;
}
